.banner-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-bottom: 32px;
  height: auto;
  background-color: var(--lightGrey);
}

.banner-backline {
  fill: none;
  stroke: #e24c5b;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 2000;
  stroke-dashoffset: -2000;
  max-width: 100%;
  max-height: 181px;
  animation: dash 3s linear 0.3s forwards;
}

.line-mobile {
  max-width: 90%;
}

.banner-machine {
  position: absolute;
  left: 10%;
  width: 30%;
  top: 3%;
  padding-top: 0;
  z-index: 2;
  opacity: 0;
  animation: reveal 1s ease forwards;
}
.banner-clothes {
  position: absolute;
  width: 55%;
  top: 0%;
  display: block;
  height: 100%;
  left: 22%;
  z-index: 11;

  .banner-clothes-container {
    position: relative;
    width: 100%;
    top: 15%;
  }

  .banner-prod-1 {
    position: absolute;
    width: 50%;
    top:5%;
    left: 50%;
    transform-origin: top right;
    transform: scale(0);
    animation: scale 1s ease .7s forwards;
  }
  .banner-prod-2 {
    position: absolute;
    width: 50%;
    top: 28%;
    left: 25%;
    transform-origin: top right;
    transform: scale(0);
    animation: scale 1s ease .9s forwards;
  }
  .banner-prod-3 {
    position: absolute;
    width: 50%;
    top: 54%;
    left: 0;
    transform-origin: top right;
    transform: scale(0);
    animation: scale 1s ease 1.1s forwards;
  }
}

/* WOMAN WITH STEND */
.banner-shop {
  position: absolute;
  width: 70%;
  left: 10%;
  bottom: 5%;
  transform: scaleX(-1);
}
.banner-stend {
  opacity: 0;
  animation: reveal 1.5s ease 2s forwards;
}
.banner-shop-images {
  position: relative;
}
.banner-woman {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  transform: translateX(-15px);
  opacity: 0;
  animation: woman 1s ease 3.3s forwards;
}
.tShirt-1 {
  position: absolute;
  transform-origin: top;
  width: 25%;
  left: -5%;
  top: 17%;
  z-index: 10;
  transform: scale(0);
  animation: scale .5s ease 2.3s forwards;
}
.tShirt-2 {
  position: absolute;
  transform-origin: top;
  width: 20%;
  top: 17%;
  left: 13%;
  z-index: 9;
  transform: scale(0);
  animation: scale .5s ease 2.5s forwards;
}
.tShirt-3 {
  position: absolute;
  transform-origin: top;
  width: 20%;
  top: 17%;
  left: 25%;
  z-index: 8;
  transform: scale(0);
  animation: scale .5s ease 2.7s forwards;
}
.trousers-1 {
  position: absolute;
  transform-origin: top;
  width: 15%;
  top: 17%;
  left: 38%;
  z-index: 7;
  transform: scale(0);
  animation: scale .5s ease 2.9s forwards;
}
.trousers-2 {
  position: absolute;
  transform-origin: top;
  width: 15%;
  top: 17%;
  left: 50%;
  z-index: 6;
  transform: scale(0);
  animation: scale .5s ease 3.1s forwards;
}

.banner-note {
  text-align: center;
  font-weight: bold;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes reveal {
  to {
    opacity: 1;
  }
}
@keyframes scale {
  to {
    transform: scale(1);
  }
}
@keyframes woman {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* MEDIA */
@media screen and (max-width: 600px) {
  .banner-wrapper {
    width: 100%;
    height: 672px;
    margin-bottom: 32px;
    justify-content: center;
    height: auto;
  }
  .line-desktop {
    display: none;
  }
 

  
}
