.coworking-content {
  width: 1536px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0 20px
}
.path {
  color: var(--grey);
  padding: 50px 0;
}
.coworking-title {
  font-weight: normal;
  text-align: center;
  margin-bottom: 80px;
  text-transform: uppercase;
}
.coworking-subtitle {
  text-align: center;
  margin-bottom: 50px;
}


@media screen and (max-width: 756px) {
  .coworking-title {
    margin-bottom: 46px;
  }
}